



.c-timeline {
    .a-fill-flex-container;
    .a-flex-v-stretch;

    &:hover {

        .c-timeline__moodEdit {
            background-color: rgba( 255,255,255,.2);
        }

        .c-timeline__mood {
            opacity: 1;
        }

    }
}

    .c-timeline__xaxis {
        .a-height-row-1-half;
        .a-overflow-hidden;
    }
    .c-timeline__graph {
        .a-fill;
        .a-flex-v-stretch;
    }

        .c-timeline__moodEdit {
            background-color: rgba( 255,255,255,0);
            .a-fill;
            .a-transition-all;

            .c-timeline--editing &,
            .s_event &
            {
                background-color: rgba( 255,255,255,.2);
            }
        }
        .c-timeline__eventEdit {
            background-color: rgba( 255,255,255,0);
            //.a-fill;
            height: 0;//50%;
            //.a-transition-all;
            transition: background-color .3s;

            .c-timeline--editing & {
                //.a-fill;
                //background-color: rgba( 255,255,255,.7);
            }
        }

    //=========X AXIS LABELS==========
    .c-timeline__label {
        .a-text-size-small;
        .a-text-color-grey-5;
        .a-position-absolute;
        .a-line-height-row;
        top: calc( 50% ~'-' @v-row-half );
    }

    //==========SELECTED ITEM======
    .c-timeline__selected {
        //height: calc( 50% ~'+' @v-row-half ~'+' 4px );
        .a-height-row-1-half;
        width: 12px;
        margin-left: -6px;

        background-color: black;
        .a-position-absolute;
        top: 0px;
        left: 30%;
    }

    //==========MOOD EDIT ITEM======
    .c-timeline__mood {
        width: 12px;
        margin-left: -6px;
        .a-height-100;
        .a-position-absolute;
        .a-top;
        opacity: 0;
        .a-transition-all;
        .a-interactive;

        .c-timeline--editing &,
        .s_event &
        {
            opacity: 1;
        }
    }
        .c-timeline__mood--selected {
            z-index: 1000000;
            &:after {
                content: '';
                .a-position-absolute;
                top: 0; bottom: 0;
                left: -5px; right: -5px;

                border-left: 5px solid #4d4d4d;
                border-right: 5px solid #4d4d4d;
            }
        }



    //=========EVENT CIRCLES==========
    .c-timeline__circle {
        border-radius: 50%;
        .a-position-absolute;
        .a-transition-all;
        .a-interactive;
    }

    .c-timeline__circle:after {
        content: '';
        .a-position-absolute;
        top: -3px; bottom: -3px;
        left: -3px; right: -3px;
        border-radius: 50%;
        border: 3px solid rgba( 255,255,255,.5);

        .c-timeline--editing & {
            //border: 0px;
        }
    }

        .c-timeline__circle--intensity_2 {
            width: 3vw;
            height: 3vw;
            top: calc( 50% ~'-' 1.5vw );
            margin-left: -1.5vw;

            .c-timeline--editing & {
                //top: calc( 75% ~'-' 1.5vw );
            }
        }

        .c-timeline__circle--intensity_1 {
            width: 2vw;
            height: 2vw;
            top: calc( 50% ~'-' 1vw );
            margin-left: -1vw;

            .c-timeline--editing & {
                //top: calc( 75% ~'-' 1vw );
            }
        }

        .c-timeline__circle--intensity_0 {
            width: 1vw;
            height: 1vw;
            top: calc( 50% ~'-' .5vw );
            margin-left: -.5vw;

            .c-timeline--editing & {
                //top: calc( 75% ~'-' .5vw );
            }
        }

        .c-timeline--value_1 {
            background-color: #FE4040;
        }
        .c-timeline--value_2 {
            background-color: #FF9425;
        }
        .c-timeline--value_3 {
            background-color: #FAFF69;
        }
        .c-timeline--value_4 {
            background-color: #52DFFF;
        }
        .c-timeline--value_5 {
            background-color: #EF45FF;
        }

        .c-timeline__circle--selected {
            z-index: 1000000;
            &:after {
                top: -5px; bottom: -5px;
                left: -5px; right: -5px;
                border: 5px solid #4d4d4d;
            }
        }
