

.c-landing {
    .a-width-100;
    .a-height-100;

    .a-background-white;
    .a-flex-h-stretch;
}

    .c-landing__title {
        .a-width-col-5;
        .a-flex-h-stretch;
    }

        .c-landing__colorsLeft {
            .a-width-col-1;
            background-image: url( '_assets/colors_left.png' );
            background-size: 100% 100%;
        }

        .c-landing__colorsLeftTransition {
            .a-width-col-half;
            background-image: url( '_assets/colors_left_transition.png' );
            background-size: 100% 100%;
        }

        .c-landing__colorsCenter {
            .a-fill;
            background-image: url( '_assets/colors_center.png' );
            background-size: 100% 100%;
        }

        .c-landing__colorsRightTransition {
            .a-width-col-half;
            background-image: url( '_assets/colors_right_transition.png' );
            background-size: 100% 100%;
        }


    .c-landing__splashContainer {
        background-image: url( '_assets/colors_right.png' );
        background-size: 100% 100%;
        .a-fill;
    }

        .c-landing__splashRight {
            .a-position-absolute;
            .a-top-right;
            .a-width-col-2;
            .a-height-100;
            background-image: url( '_assets/colors_right_right.png' );
            background-size: 100% 100%;
        }

        .c-landing__splash {
            .a-fill-flex-container;
            background-image: url( '_assets/ShiftApp_Splash.png' );
            background-size: contain;
            //background-blend-mode: multiply;
        }

        .c-landing__content {
            .a-position-absolute;
            .a-top;
            .a-right-col-2;
            .a-width-col-3;
            .a-height-100;
            background-color: rgba( 0,0,0,.8);

        }
